<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.android.providers.settings.overlay.pixel">
    <application android:label="SettingsProviderOverlay" android:hasCode="false"/>
    <overlay android:priority="1" android:targetPackage="com.android.providers.settings" android:isStatic="true"/>
</manifest>
