<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.android.cellbroadcastservice.overlay.pixel">
    <overlay android:priority="0" android:targetPackage="com.android.cellbroadcastservice" android:targetName="CellBroadcastServiceCustomization" android:isStatic="true"/>
</manifest>
