[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Henrique Silva (jhenrique09)
[access "refs/for/refs/*"]
	read = group user/Henrique Silva (jhenrique09)
	push = group user/Henrique Silva (jhenrique09)
	label-Code-Review = -2..+2 group user/Henrique Silva (jhenrique09)
	label-Verified = -1..+1 group user/Henrique Silva (jhenrique09)
	rebase = group user/Henrique Silva (jhenrique09)
	removeReviewer = group user/Henrique Silva (jhenrique09)
	submit = group user/Henrique Silva (jhenrique09)
[access "refs/heads/*"]
	read = group user/Henrique Silva (jhenrique09)
	create = group user/Henrique Silva (jhenrique09)
	push = +force group user/Henrique Silva (jhenrique09)
	pushMerge = group user/Henrique Silva (jhenrique09)
[access "refs/tags/*"]
	push = group user/Henrique Silva (jhenrique09)
	push = +force group user/Henrique Silva (jhenrique09)
