<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.android.captiveportallogin.overlay">
    <application android:label="CaptivePortalLoginOverlay" android:hasCode="false"/>
    <overlay android:targetPackage="com.android.captiveportallogin" android:targetName="CaptivePortalLoginConfig" android:priority="0" android:isStatic="true"/>
</manifest>
