<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="34" android:compileSdkVersionCodename="14" package="com.google.android.documentsui.theme.pixel" platformBuildVersionCode="34" platformBuildVersionName="14">
    <overlay android:priority="0" android:targetName="DocumentsUICustomization" android:targetPackage="com.google.android.documentsui"/>
    <application android:extractNativeLibs="true" android:hasCode="false"/>
</manifest>