<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.overlay.nowplaying"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="android" android:priority="1" android:isStatic="true" />
    <application android:label="NowPlayingOverlay" android:hasCode="false"/>
</manifest>