<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.android.traceur.overlay.pixel">

    <overlay android:priority="1" android:targetPackage="com.android.traceur" android:isStatic="true"/>
</manifest>
