<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.google.android.pixel.setupwizard.overlay">
    <application android:label="PixelSetupWizardOverlay" android:hasCode="false"/>
    <overlay android:targetPackage="com.google.android.pixel.setupwizard" android:priority="0" android:targetName="PixelSetupWizard" android:isStatic="true"/>
</manifest>
